.homeContainer {
    background: rgb(236,0,140);
    background: linear-gradient(135deg, rgba(236,0,140,1) 0%, rgba(146,39,143,1) 100%);
    text-align: center;
    padding: 24px;
    height: 100vh;
}

.background {
    background: rgba(255,255,255, 0.9);
    padding: 40px;
    border-radius: 10px 10px;
    height: 100%;
}

.btnSubmit {
    color: #fff;
    background: #92278f;
    margin-top: 38px;
    transition: box-shadow 0.3s
}

.btnSubmit:hover {
    color: #fff;
    box-shadow: 0 2px 12px 0 rgba(192, 80, 224, 0.75);
}

.numTitle {
    margin-top: 32px;
    font-weight: 700;
    color: #ec008c;
}

.inputForm {
    margin-top: 55px;

    input{ border-color: rgb(111 66 193)}
}

.alertText {
    display: block;
}